body{
    background-color: rgb(93, 93, 11);
    color:rgb(182, 234, 60);
    font-family: "Press Start 2P", system-ui;
}
header{
    font-size: 50px;
    border: outset 5px rgb(131, 148, 22);
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}